body {
  text-align: center;
  background-color: #f0f8ff;
  font-family: 'Press Start 2P', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
}

#level-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 500px;
}

.btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #000;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.2);
}

.red {
  background-color: #ff6f6f;
}

.green {
  background-color: #98e698;
}

.blue {
  background-color: #6fa3ff;
}

.yellow {
  background-color: #ffff9f;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: #ccc;
}

#start-btn {
  padding: 10px 20px;
  background-color: #ffcc66;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#start-btn:hover {
  background-color: #ff9933;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.dashboard {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard p {
  margin: 5px;
}

@media (max-width: 600px) {
  #level-title {
    font-size: 30px;
  }

  .btn {
    width: 120px;
    height: 120px;
  }

  #start-btn {
    font-size: 30px;
  }

  .dashboard {
    font-size: 0.9rem;
  }
}
